*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.idea/kotlinc.xml

# Local configuration file (sdk path, etc)
keystore.properties
app/fabric.properties
google-services.json
src/main/res/drawable-v21/