*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Local configuration file (sdk path, etc)
keystore.properties
app/fabric.properties
