<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sharpdroid.registroelettronico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activities.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/SplashTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Intro"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.MarkSubjectDetailActivity"
            android:exported="true"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="com.sharpdroid.registroelettronico.DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.EditSubjectDetailsActivity"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.AllLessonsWithDownloadActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.AddEventActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.LoginActivity"
            android:launchMode="singleInstance"
            tools:ignore="InnerclassSeparator" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sharpdroid.registroelettronico.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3124a44c739be03092b7db7c9c44a5052bd37fa5" />

    </application>

</manifest>